/* commom */

* {
    box-sizing: border-box;
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

img {
    display: block;
}

/* HEADER */

header {
    padding: 16px 32px;
    background-color: #24292F;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
}

/* MAIN BAR */
header .container .main-bar{
    flex-grow: 1;
    
    display: flex;
    align-items: center;
}
/* LOGO */
header .container .main-bar img{
    width: 32px;
    margin-right: 16px;
}
/* search */
header .container .main-bar .search{
    display: flex;
    align-items: center;

    color: #fff;
    width:270px;
    height: 28px;
    margin-right: 16px;
    
    border: .1px solid #57606A;
    border-radius: 6px;


}
header .container .main-bar .search input{
    background-color: transparent;
    border: none;
    padding: 0 12px;

    outline: none;

    width: 100%;
}

header .container .main-bar .search input:focus{
    color: #fff;
}

header .container .main-bar .search .serch-slash{
    margin-right: 8px;
    border: .2px solid #57606A;
    border-radius: 3px;
    width: 20px;
    height: 19px;

    color: #57606A;
    text-align: center;
    line-height: 19px;
}

/* MENU */
header .container .main-bar ul{
    display: flex;
    align-items: center;
}
header .container .main-bar .menu li:first-child{
    min-width: 91px;
}
header .container .main-bar .menu li a{
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding-right: 10px;
}

header .container .main-bar .menu li a:hover{
    color: #57606A;
}

/* INFO BAR */
header .container .info-bar{
    
    height: 28px;

    flex-grow: 0;
    
    display: flex;
    align-items: center;
}

header .container .info-bar a{
    color: #fff;
    font-size: 12px;
    padding-left: 16px;

}
header .container .info-bar a:active{
    color:#57606A
}

header .container .info-bar .bell{
    transition: transform .5s ease;
    transform-origin: center;
}
header .container .info-bar .bell:hover{
    transform: translateY(-3px);
}


header .container .info-bar .repo-set{
    min-width: 48.7px;
    transition: transform .5s ease;
    transform-origin: center;
}
header .container .info-bar .repo-set:hover{
    transform: translateY(-3px);
}

header .container .info-bar .user-info{
    min-width: 53px;
    display: flex;
    align-items: center; 
    transition: transform .5s ease;
    transform-origin: center;
}

header .container .info-bar .user-info:hover{
    transform: translateY(-3px);
}

header .container .info-bar .user-info .user-image {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #57606A;
    margin-right: 5px;
}







