/* commom */

* {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font: 14px;
    text-decoration: none;
}

img {
    display: block;
}

/* HEADER */

header {
    padding: 16px 32px;
    background-color: #24292F;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
}

header .container .main-bar{
    flex-grow: 1;
    
    display: flex;
    align-items: center;
}

header .container .main-bar img{
    width: 32px;
    margin-right: 16px;
}

header .container .main-bar .serch{
    display: flex;
    align-items: center;

    color: white;
    width:270px;
    height: 28px;
    margin-right: 16px;
    
    border: .1px solid gray;
    border-radius: 6px;


}
header .container .main-bar .serch input{
    background-color: transparent;
    border: none;
    padding: 0 12px;

    width: 100%;
}
header .container .main-bar .serch .serch-slash{
    margin-right: 8px;
    border: .2px solid gray;
    border-radius: 3px;
    width: 20px;
    height: 19px;

    color: gray;
    text-align: center;
    line-height: 19px;
}

header .container .main-bar ul{
    display: flex;
    align-items: center;
}

header .container .main-bar .menu li{}

header .container .main-bar .menu li a{
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding-right: 10px;
    
    

}

header .container .info-bar{
    background-color: teal;

    flex-grow: 0;
    
    display: flex;
    position: relative;
    

}

header .container .info-bar .bell{}

header .container .info-bar .repo-set{}

header .container .info-bar.user-info{}

header .container .info-bar.user-info .user-image{}








